<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jobs</key>
	<array>
		<key>installs</key>
		<array>
			<string>https://www.google.com</string>
		</array>
		<key>scripts</key>
		<array>
			<string>macTask.sh</string>
		</array>
	</array>
</dict>
</plist>
